.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the button */
.button {
    width: 300px;
    height: 80px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(90deg, rgb(0, 125, 254) 0%, rgb(0, 125, 254) 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 8px 8px 20px rgba(0, 125, 254, 255);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

.button:hover {
    width: 300px;
    height: 80px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #000000;
    background: linear-gradient(90deg, rgb(92, 163, 235) 0%, rgb(49, 121, 192) 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 8px 8px 20px rgba(0, 92, 163, 255);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
}